<template>
  <svg
    class="inline w-7.5 fill-current opacity-70 transition-opacity duration-200 group-hover:opacity-100"
    preserveAspectRatio="xMidYMid"
    viewBox="0 0 120 120">
    <g data-name="Layer 2"><path d="M37.53 89a1.7 1.7 0 0 0-2.39 2c2.42 8 8.74 17.54 11.9 22a2 2 0 0 0 3.38.16c4.88-5.07 13.7-3.63 20.48-1s13.6.33 14.74-2.84a358.05 358.05 0 0 1-48.07-20.27Zm69.25-46.51A269 269 0 0 1 54 13.34c-6.36-4.8-4-7.4-8-11.59a6.14 6.14 0 0 0-8.81.25 6.25 6.25 0 0 0 .26 8.83c3.22 3 8.49 2.82 12.28 7 5.44 7.2 5 14.61 13.54 20.69 6.53 4.68 16.15 9.43 22.94 12.4 2.52 1.1 6.16 2.64 9.54 4 4.09 1.62 7.72 2.94 7.72 2.94a31.13 31.13 0 0 0 3.31-15.37ZM12.39 7.58A7.2 7.2 0 1 0 2 17.55c4.39 4.57 8.83 1.48 18.26 8.8 3.49 3.15 5.66 6.81 11.35 16.53 7.44 12.72 23.76 20.67 41 27.95s24.76 9.63 24.76 9.63c-.27-1.35-.52-2.79-.79-4.14-1.17-6.93 1.71-10.17 4-12.68a323.18 323.18 0 0 1-76.81-41.1c-8.38-6.54-7-10.4-11.38-14.96Zm86.43 80.21a408 408 0 0 1-68.15-30.37C17.58 49.87 20.12 46 15.41 43.28A6.25 6.25 0 1 0 9.06 54c4.73 2.76 7.61 1.53 14.22 5.49l1 .62c10.27 6.28 4.49 16.52 16.29 23.23 6.15 3.5 23 10.68 23 10.68s15.53 6.37 24.26 9.12l.66-4c3.41.09 3.14-2.34 3.1-3.78s.31-2.7 2.34-3.06a15.56 15.56 0 0 1 3.55 0 1.82 1.82 0 0 0 1.94-2.2c-.19-.73-.42-1.54-.6-2.31ZM70 10c2.1 3.8 6.76 8.63 12.16 12.51 9.4 6.74 23.62 12.59 23.62 12.59a27.83 27.83 0 0 0-3.24-10.66c-2.66-5.89-13.69-15.71-27-20.74-3.07-1.16-6.25-2.21-7.68-2.57a1.06 1.06 0 0 0-1.36 1.14C66.69 3.69 68 6.44 70 10Z" data-name="Layer 1"/>
    
  </g></svg>
</template>
